# Environments & secrets
.env
.venv
venv/
env/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/

# ChromaDB local store
chroma_db/
*.sqlite3

# OS / editor junk
.DS_Store
.idea/
.vscode/

# for data test 
data/1000_Tahun_Nusantara.pdf
data/Bagaimana_Cara_Memasarkan_Genset.pdf
data/